html {
  font-size: 50px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.26666667px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
body {
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  width: 15rem;
  font-family: Arial, Helvetica;
  background: #f2f2f2;
  line-height: 1.5;
}
.search-content {
  display: flex;
  width: 15rem;
  height: 1.76rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #ffc001;
}
.search-content .classify {
  width: 0.88rem;
  height: 1.4rem;
  background-color: pink;
  margin: 0.22rem 0.5rem 0.14rem 0.48rem;
  background: url(../image/left.png) no-repeat;
  background-size: 0.88rem 1.4rem;
}
.search-content .search {
  flex: 1;
}
.search-content .search input {
  border: 0;
  height: 1.32rem;
  border-radius: 0.66rem;
  width: 100%;
  margin-top: 0.24rem;
  outline: none;
  padding-left: 1.1rem;
  font-size: 0.5rem;
  color: #757575;
}
.search-content .login {
  width: 1.5rem;
  height: 1.4rem;
  margin: 0.2rem;
  font-size: 0.5rem;
  text-align: center;
  line-height: 1.4rem;
  color: #fff;
  text-decoration: none;
}
.bannerr {
  width: 15rem;
  height: 7.36rem;
}
.bannerr img {
  width: 100%;
  height: 100%;
}
nav {
  width: 15rem;
}
nav a {
  width: 3rem;
  height: 2.8rem;
  float: left;
  text-align: center;
}
nav a img {
  display: block;
  width: 1.64rem;
  height: 1.64rem;
  margin: 0.2rem auto 0;
}
nav a span {
  font-size: 0.5rem;
  color: #333;
}
