body{
    max-width: 640px;
    min-width: 320px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.app{
   height: 45px;
   color: #fff;
   font-size: 16px; 
}
.app ul{
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.app ul li{
   height: 45px;
   background-color:#333333;
   list-style: none;
   float: left;
}
.app ul li:nth-child(1){
     width: 8%;
     text-align: center;
     line-height: 45px;
} 
.app ul li:nth-child(2){
     width: 10%;
}
.app ul li:nth-child(3){
      width: 57%;
}
.app ul li:nth-child(4){
       width: 25%;
       background:pink;
}

.search-wrap{
    height: 44px;
    position: relative;
    overflow: hidden;
}
.search-btn{
    position: absolute;
    top: 0;
    left: 0;
    background-color: pink;
    width: 40px;
    height: 44px;
}
.search-login{
    position: absolute;
    top: 0;
    right: 0;
    background-color: pink;
    width: 40px;
    height: 44px;
}
.search{
    height: 30px;
    margin:0 50px;
    background: blue;
    border-radius: 15px;
    margin-top: 7px;
}
.search input{
    height: 30px;
    width: 100%;
    border: 1;
    outline: none;
    border-radius: 15px;
}