.content {
  width: 600px;
  margin: 0 auto;
}
.item {
  margin-bottom: 10px;
  border-bottom: 0.5px solid #ebebeb;
}
.title {
  font-size: 20px;
  color: black;
  font-weight: 700;
}
.auther {
  text-align: right;
}
