/* 头部 */
.shortcut {
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.shortcut ul li {
    list-style: none;
    float: left;
}

.style_red {
    color: red;
}

a {
    text-decoration: none;
    color: black;
}

.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 10px 15px 0;
}

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.woff2') format('woff2'),
        url('../fonts/iconfont.woff') format('woff'),
        url('../fonts/iconfont.ttf') format('truetype'),
        url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 5px;
    /* color: red; */
}

.header {
    height: 105px;
    position: relative;
}

.logo {
    position: absolute;
    top: 25px;
    width: 176px;
    height: 61px;
}

.logo a {
    display: block;
    width: 276px;
    height: 100px;
    background: url('https://img11.360buyimg.com/jdphoto/s80x80_jfs/t27847/91/107794072/6854/14716732/5b850ecaN644d2983.png') no-repeat;
    font-size: 0;
}

.search {
    position: absolute;
    left: 346px;
    top: 25px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

button,
input {
    border: 0;
    outline: none;
}

.search input {
    width: 454px;
    height: 32px;
    padding-left: 10px;
    float: left;
}

.search button {
    width: 80px;
    height: 32px;
    color: #fff;
    background-color: #b1191a;
    float: left;
    font-size: 16px;
}

.hotwords {
    position: absolute;
    top: 66px;
    left: 346px;
}

.hotwords a {
    margin: 0 10px;
    font-size: 12px;
}

.shopcar {
    position: absolute;
    right: 60px;
    top: 25px;
    width: 140px;
    height: 35px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    line-height: 35px;
    text-align: center;
}

.shopcar .caricon {
    font-size: 20px;
    color: red;
    margin-right: 5px;
}

.shopcar .leicon {
    margin: 0;
}

.count {
    position: absolute;
    top: -5px;
    left: 105px;
    height: 14px;
    color: #fff;
    background-color: #e60012;
    padding: 0 5px;
    line-height: 14px;
    border-radius: 7px 7px 7px 0;
    font-size: 12px;
}

.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}

.nav .dropdown {
    float: left;
    width: 210px;
    height: 45px;
    background-color: #b1191a;
}

.nav .navitems {
    height: 45px;
    float: left;
    line-height: 45px;
}

.nav .navitems ul li {
    float: left;
}

.nav .navitems ul li a {
    display: block;
    font-size: 16px;
    height: 45px;
    padding: 0 25px;
}

.dropdown .dt {
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
}

.dropdown .dd {
    width: 210px;
    height: 465px;
    background-color: #c81623;
    margin-top: 2px;
}

.dd ul li {
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 10px;
}

.dd ul li a {
    color: #fff;
    font-size: 14px;
}

.dropdown .dd ul li:hover {
    background-color: #fff;
}

.dropdown .dd ul li:hover a {
    color: #c81623;
}

.footer {
    height: 415px;
    background-color: #f5f5f5;
    padding-top: 30px;
}

.mod_service {
    height: 80px;
    border-bottom: 1px solid #ccc;
}

.mod_service ul li {
    width: 300px;
    height: 50px;
    float: left;
    padding-left: 35px;
}

.mod_service ul li h5 {
    width: 54px;
    height: 50px;
    background: url(../img/icons.png) no-repeat -252px -2px;
    float: left;
}

.service_txt h4 {
    font-size: 14px;
}

.service_txt p {
    font-size: 12px;
}

.mod_help {
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 50px;
}

.mod_help dl dt {
    font-size: 16px;
    margin-bottom: 10px;
}

.mod_help dl dd {
    font-size: 12px;
}

.mod_help dl {
    float: left;
    width: 200px;

}

.mod_help dl:last-child {
    width: 150px;
    text-align: center;
}

.mod_copyright {
    text-align: center;
    padding-top: 20px;
}

.links {
    margin-bottom: 15px;
}