* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
    list-style: none;
    text-decoration: none;
}
.shortcut{
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}
.w{
    width: 1200px;
    margin: 0 auto;
}

ul{
    list-style: none;
}
.shortcut ul li{
  float: left;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.fr ul li:nth-child(even){
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 10px 15px 0;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

 .che {
    width: 1em; height: 1em;
    vertical-align:-0.15em;
    fill: currentColor;
    overflow: hidden;
 }

 header{
    height: 105px;
    position: relative;
 }
 .logo{
  position: absolute;
  bottom: 0;
 }
 .logo a{
    display: block;
    width: 80px;
    height: 80px;
    background: url('https://img11.360buyimg.com/jdphoto/s80x80_jfs/t27847/91/107794072/6854/14716732/5b850ecaN644d2983.png') no-repeat;
    background-size: 80px 80px;
 }
 .search{
    position: absolute;
    left: 346px;
    top:25px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
 }

 input[type='text']{
    width: 480px;
    height: 32px;
    border: 0;
    outline: 0;
    padding-left: 1em;
    float: left;
 }
 button{
    border: 0;
    outline: 0;
    width: 54px;
    height: 32px;
    float: left;
    background-color: #b1191a;
    font-size: 10px;
    color: #fff;
 }
 .keywords{
    position: absolute;
    left: 346px;
    top:65px;
    padding-left: 10px;
 }
 .keywords a{
    color: black;
    font-size: 10px;
    margin-right: 25px;
 }

 .shopcar{
    position: absolute;
    right: 60px;
    top: 25px;
    width: 140px;
    height: 35px;
    border: 1px solid #dfdfdf;
    background-color: #dfdfdf;
    line-height: 35px;
    text-align: center;
 }
.nav{
    height: 47px;
    border-bottom: 2px solid #b1191a;
}
.navitems{
    line-height: 47px;
    float: left;
}

.navitems ul li{
    float: left;
    padding: 0 15px;
}
.nav .dropdown{
    float: left;
    width: 210px;
    height: 45px;
}
.main{
    height: 470px;
    width: 200px;
    background-color: #f1f1f1;
    float: left;
    margin: 10px 10px 0 0;
}
.main ul li{
    height:25px;
    line-height: 25px;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 15px;
    
}
.focus{
    width:590px;
    height: 470px;
    float: left;
    margin: 10px 10px 0 0;
}

.newsflash{
    height: 470px;
    float: left;
    width: 250px;
    margin-top: 10px;
    border: 1px solid #e4e4e4;
}
.news{
    height: 165px;
    width: 1px solid #e4e4e4;
}
.news .news_hd{
    height: 33px;
    border-bottom: 1px solid #e4e4e4;
    line-height: 33px;
    padding: 0 15px;  
}
.news a{
    float: right;
    font-size: 12px;
    color: black;
}
.news h5{
    float: left;
}

.news .news_bd{
    padding: 5px 15px 0;
}

.news .news_bd ul li{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
}
.lifeservice{
    overflow: hidden;
}
.lifeservice ul li{
    width: 62px;
    height: 71px;
    float: left;
    text-align: center;
}

.lifeservice ul li i{
   margin-top: 12px;
   display: inline-block;
   width: 24px;
   height: 28px;
   background: url('../img/icons.png') no-repeat -79px -15px
}
.bargin{
    margin-top: 15px;
}
.count{
    font-size: 12px;
    position: absolute;
    height: 14px;
    line-height: 14px;
    top: -5px;
    left: 105px;
    color: #fff;
    background-color: red;
    padding: 0 5px;
    border-radius: 7px 7px 7px 0; 
  
}